@font-face {
  font-family: 'CONDENSEicon';
  src:  url('../fonts/CONDENSEicon.eot');
  src:  url('../fonts/CONDENSEicon.otf') format('opentype'),
    url('../fonts/CONDENSEicon.eot') format('embedded-opentype'),
    url('../fonts/CONDENSEicon.ttf') format('truetype'),
    url('../fonts/CONDENSEicon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
